.backtest-container {
  margin: 0 auto;
}

.backtest-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  margin-bottom: var(--spacing-large);
  padding: var(--spacing-medium);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.form-group label {
  font-weight: bold;
  color: var(--color-light);
}

.form-group input,
.form-group select {
  margin-left: var(--spacing-small);
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
}

.submit-button {
  background-color: var(--color-primary);
  color: white;
  padding: var(--spacing-small) var(--spacing-medium);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: var(--color-info);
}

.backtest-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.backtest-results {
  background-color: var(--color-dark);
  padding: var(--spacing-medium);
  border-radius: 4px;
  margin-block: var(--spacing-small);
  margin: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.metrics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--spacing-medium);
  margin-top: var(--spacing-medium);
}

.metric-card, .backtest-orders {
  background-color: rgba(255, 255, 255, 0.25);
  padding: var(--spacing-medium);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 80dvh;
  overflow-y: auto;
}

.metric-label {
  color: var(--color-light);
  font-size: 0.9em;
}

.metric-value {
  color: var(--color-light);
  font-weight: bold;
  font-size: 1.2em;
  margin-top: var(--spacing-small);
  display: block;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--spacing-medium);
  border-radius: 10px;
  overflow: hidden;
}

.order-table th {
  padding: var(--spacing-small);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(0, 0, 0, 0.5);
}

.order-table td {
  padding: var(--spacing-small);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(0, 0, 0, 0.25);
}

.order-table tbody tr:last-child td {
  border-bottom: none;
}

.order-table tbody tr:nth-child(even) td {
  background-color: rgba(0, 0, 0, 0.35);
}

.backtest-orders .title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.backtest-orders .title-container .actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-small);
}

@media (max-width: 768px) {
  .backtest-container {
    padding: var(--spacing-small);
  }
  
  .metrics-grid {
    grid-template-columns: 1fr;
  }
}
